#everything {
	padding-top: 200px;
}

#button {
    font-weight: 700;
 	color: #18BC9C;
 	border-color: #18BC9C;
 	background-color: white;
 	outline: none;
}

#description{
    padding-top:25px
}

#purpose {
    color: red;
    font-style: italic;
}