#mainNav {
	background: #FF4500;
}

#mainNav .searchBar {
	background: #FF4500;
	border: none;
	color: #000000;
	height: 45px;
}

input:focus{
    outline: none;
}

#logo {
	width: 70%;
}

#navProfilePic {
	width: 50%;
}

.nav-bar-desktop {
	display: none
}
.nav-bar-mobile {
	display: flex
}

@media (min-width: 992px) {
	.nav-bar-desktop {
		display: flex
	}
	.nav-bar-mobile {
		display: none
	}
}

.nav-item p {
	color: #FFFFFF
}