#everything {
	padding-top: 150px;
}

.list-genre-name {
	grid-area: genreName;
	align-self: center;
	padding-left: 100px;
}

.list-no-datasets {
	grid-area: noDatasets;
	align-self: center;
}

.list-avg-ratings {
	grid-area: avgRatings;
	align-self: center;
}

.list-no-followers {
	grid-area: noFollowers;
	align-self: center;
}

.popular-genre {
	display: grid;
	grid-template-columns: 50% 20% 20% 10%;
	grid-template-rows: auto;
	grid-template-areas: 
		"genreName noDatasets noFollowers avgRatings";
	padding: 5px 5px 5px 5px;
}

#mostPopularList {
	/*list-style-type: "1";*/
	padding: 0 0 0 0;
}

#mostPopularList li {
	border-radius: 10px;
}

#mostPopularList li:hover {
	background-color: #e0e0e2;
}