#everything {
	padding-top: 150px;
}

.listUserPic {
	grid-area: userPic;
}

.listDetails {
	grid-area: details;
}

.listFollowStatus {
	grid-area: followStatus;
}

.dataset {
	display: grid;
	grid-template-columns: 15% 75% 10%;
	grid-template-rows: auto;
	grid-template-areas: 
		"userPic details followStatus";
	padding: 5px 5px 5px 5px;
}

#mostPopularList {
	/*list-style-type: "1";*/
	padding: 0 0 0 0;
}

#mostPopularList li {
	border-radius: 10px;
}

#mostPopularList li:hover {
	background-color: #e0e0e2;
}

.listDetails p {
	margin-bottom: 0rem
}

.listDetails span {
	font-size: 0.8rem;
}