{% load static %}
{% include "pop_up.html" %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>
<script src="{% static 'js/freelancer.min.js' %}"></script>
<script src="{% static 'vendor/sweet-dropdown/jquery.sweet-dropdown.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>