{% load static %}
<title>STOP Gun Violence</title>
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet"/>
<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/freelancer.css' %}" rel="stylesheet"/>
<link href="{% static 'css/nav_bar.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'vendor/sweet-dropdown/jquery.sweet-dropdown.css' %}">
<link href="{% static 'css/custom.css' %}" rel="stylesheet"/>

