{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html" %}
	<link href="{% static 'css/index.css' %}" rel="stylesheet"/>
</head>
<body id="page-top">
	{% include "nav_bar.html" %}
        <div class="container" id="everything" align="center" >
            <h1>STOP GUN VIOLENCE</h1>
            <p id="description">Gun violence is a persistent issue in US, accounting for >10,000 deaths annually.
                Tragedies like the recent Florida School Shooting have sparked fresh debate regarding gun control
                policies in the US. American citizens are growing numb to the incidents as they feel helpless on what
                can be done on their part. At first glance, it is obvious that stricter gun laws of US would play a
                crucial part in putting a stop to this tragedies from happening. However, we feel that there may be
                other ways to help as well and thus we decided to take a closer look.</p>
            <p id="purpose">This website aims to provide a platform for people who wants to help in stopping gun
                violence. Use the data we have provided on this website to make meaningful analysis and share with
                the rest of the world.</p>
            <a href="/leaflet" class="button">VIEW LEAFLET</a>
        </div>
	{% include "foot.html" %}
</body>
</html>
