{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
	<div class="container">
		<a href="/" class="navbar-brand js-scroll-trigger">
			<img src="{% static 'img/Logo.png' %}" id="logo"/>
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu
			<i class="fa fa-bars"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<form class="navbar-form" action="/search/">
				<div class="form-group" style="display: inline;">
					<div class="input-group">
						<span class="input-group-addon searchBar">
							<i class="fa fa-search"></i>
						</span>
						<input class="form-control searchBar" type="text" placeholder="Search DataHub" name="q"/>
					</div>
				</div>
			</form>

			<ul class="navbar-nav ml-auto nav-bar-desktop">
				{% if auth %}
					<li>
						<img src="{% static 'img/ProfilePic.png' %}" id="navProfilePic" data-dropdown="#userMenu" data-add-anchor-x="-10">
					</li>
				{% else %}
					<li class="nav-item">
						<a href="/signin" class="nav-link js-scroll-trigger" id="navSignIn">Sign In</a>
					</li>
					<li class="nav-item">
						<a href="/signup" class="nav-link js-scroll-trigger" id="navSignUp">Sign Up</a>
					</li>
				{% endif %}
			</ul>
			
			<ul class="navbar-nav ml-auto nav-bar-mobile">
				{% if auth %}
				<li class="nav-item">
					<p>Signed in as:</p>
					<p><b>{{ user.username }}</b></p>
				</li>
				<li class="divider"></li>
				<li class="nav-item"><a href="/profile" class="nav-link js-scroll-trigger">Your Profile</a></li>
				<li class="divider"></li>
				<li class="nav-item"><a href="/statistics" class="nav-link js-scroll-trigger">Statistics</a></li>
				<li class="nav-item"><a href="/signout" class="nav-link js-scroll-trigger">Sign Out</a></li>
				{% else %}
					<li class="nav-item">
						<a href="/signin" class="nav-link js-scroll-trigger" id="navSignIn">Sign In</a>
					</li>
					<li class="nav-item">
						<a href="/signup" class="nav-link js-scroll-trigger" id="navSignUp">Sign Up</a>
					</li>
				{% endif %}
			</ul>
			
		</div>
	</div>
</nav>
