{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.html" %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet"/>
</head>
<body id="page-top">
  {% include "nav_bar.html" %}
  <div class="container" id="everything">
    <div id="user-details">
      <img src="{% static 'img/ProfilePicBig.png' %}"/>
      <h3>{{ user_info.first_name }} {{ user_info.last_name }}</h3>
      <p>{{ user_info.username }}</p>
      <hr/>
      <i class="fa fa-envelope-o">&nbsp;{{ user_info.email }}</i>
    </div>

    <div class="container-fluid" id="user-content">
      {% include "messages.html" %}
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#following">Following</a></li>
        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#created">Created</a></li>
        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#comments">Comments</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active show" id="following">
          {% if following_datasets %}
            {% for dataset in following_datasets %}
            <div class="dropdown-menu dropdown-anchor-top-right dropdown-has-anchor" id="followingMenu-{{ dataset.dataset_id }}">
              <ul>
                <li><a href="/user/{{ dataset.username }}/">View User</a></li>
                {% if user.username == user_info.username %}
                <li class="divider"></li>
                <li><a href="/unfollow/{{ dataset.dataset_id }}/profile" class="action-unfollow">Unfollow</a></li>
                {% endif %}
              </ul>
            </div>
            <div class="dataset" onclick="toDataset('{{ dataset.dataset_id }}')">
              <div class="dataset-title">
                <h3>{{ dataset.name }}</h3>
              </div>
              <div class="dataset-menu hover" data-dropdown="#followingMenu-{{ dataset.dataset_id }}" data-user-id="user-id" data-dataset-id="{{ dataset.dataset_id }}" data-dataset-name="{{ dataset.name }}">
                <i class="fa fa-ellipsis-v"></i>
              </div>
              <div class="dataset-description">
                <p>{{ dataset.description }}</p>
              </div>
              <div class="dataset-category">
                <p>&nbsp;<i>#{{ dataset.genre }}</i></p>
              </div>
            </div>
            {% endfor %}
          {% elif user_info.id != user.id %}
          <div class="dataset">
            <p>This user isn't following any datasets currently</p>
          </div>
          {% else %}
          <div class="dataset">
            <p>You are not following any datasets yet. Why not go discover them now?</p>
          </div>
          {% endif %}
        </div>

        <div role="tabpanel" class="tab-pane fade" id="created">
          {% if user.username == user_info.username %}
          <div class="dataset" onclick="location.href='/new/'">
            <div class="dataset-title">
              <h3>Create new dataset</h3>
            </div>
          </div>
          {% endif %}
          {% if not created_datasets %}
          <div class="dataset">
            <p>No datasets created</p>
          </div>
          {% endif %}
          {% for dataset in created_datasets %}
          <div class="dropdown-menu dropdown-anchor-top-right dropdown-has-anchor" id="createdMenu-{{ dataset.id }}">
            <ul>
              <li><a href="/dataset/delete/{{ dataset.id }}/" class="action-delete">Delete</a></li>
            </ul>
          </div>
          <div class="dataset" onclick="toDataset('{{ dataset.id }}')">
            <div class="dataset-title">
              <h3>{{ dataset.name }}</h3>
            </div>
            {% if user.username == user_info.username %}
            <div class="dataset-menu hover" data-dropdown="#createdMenu-{{ dataset.id }}">
              <i class="fa fa-ellipsis-v"></i>
            </div>
            {% endif %}
            <div class="dataset-description">
              <p>{{ dataset.description }}</p>
            </div>
            <div class="dataset-category">
              <p>&nbsp;<i>#{{ dataset.genre }}</i></p>
            </div>
          </div>
          {% endfor %}

        </div>
        <div role="tabpanel" class="tab-pane fade" id="comments">
          <ul id="commentList">
            {% if not comments %}
						<li>
						  <p>No comments yet</p>
						</li>
						{% endif %}
            {% for comment in comments  %}
            {% include "comments.html" %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% include "foot.html" %}

</body>
</html>
