{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html" %}
	<link href="{% static 'css/sign_up.css' %}" rel="stylesheet"/>
</head>
<body id="page-top">
	{% include "nav_bar.html" %}
	<div id="everything" class="container">
		<div id="introText">
			<h1>Sign up for DataHub</h1>
			<br>
			<br>
			<p>A dataset repository for data scientists. Upon signing up you will be granted access to create and manage your own datasets, commend on other datasets and get recommendations on data according to your interests.</p>
		</div>

		<div id="signUpForm">
			{% include "messages.html" %}
			<form class="signup" action="/signup/" method="post">{% csrf_token %}
				<label><b>First name*</b></label>
			  <input type="text" class="form-control" name="first_name" value="" maxlength="30">
			  <br>
				<label><b>Last name</b></label>
			  <input type="text" class="form-control" name="last_name" value="" maxlength="30">
			  <br>
			  <label><b>Username*</b></label>
			  <input type="text" class="form-control" name="username" value="" maxlength="150">
			  <br>
			  <label><b>Password*</b></label>
			  <input type="password" class="form-control" name="password" value="" maxlength="128">
				<br>
			  <label><b>Email*</b></label>
			  <input type="email" class="form-control" name="email" value="" maxlength="254">
				<br>
			  <br>
			  <input type="submit" value="Sign Up" class="btn btn-success form-control">
			</form>
		</div>
	</div>

	{% include "foot.html" %}

</body>
</html>
